.token {
    height: 100vh;
    background-color: var(--background-color-primary-1);
    color: var(--color-primary-1);

    & .container {
        width: 480px;
        max-width: 100%;
        margin: 0px auto;
    }
    & .wrapper {
        padding: 0px 16px;
    }
}
