.item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #d6e4ff;
    padding: 2px 4px;
    gap: 4px;

    & > * {
        font-size: 14px;
        font-weight: 700;
        color: #2f54eb;
    }
}
