@import "../../scss/variables.scss";

.token {
    height: 100vh;
    background-color: var(--background-color-primary-1);
    color: var(--color-primary-1);

    & .container {
        width: 480px;
        max-width: 100%;
        margin: 0px auto;
    }

    & .wrapper {
        padding: 0px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    & .modal {
        padding: 12px;
        background-color: var(--background-color-primary-2);
        border-radius: 8px;
        width: 320px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;

        & .header {
            color: $red-5;
        }

        & .body {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}
