@import "../../scss/variables.scss";

.input {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border: 2px solid var(--background-color-primary-3);
    border-radius: 8px;
    color: var(--color-primary-1);
    background-color: var(--background-color-primary-2);
    &::placeholder {
        color: var(--color-primary-7);
    }
}
