.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d6e4ff;
    padding: 8px;
    border-radius: 8px;
}

.name {
    font-weight: 700;
    color: #2f54eb;
}

.value {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #adc6ff;
    border-radius: 8px;
    color: #2f54eb;
    min-width: 24px;
    min-height: 24px;
    font-weight: 900;
    padding: 4px 8px;

    & input {
        width: 30px;
        max-width: 100%;
        border: 0;
        background-color: transparent;
        font-weight: 700;
    }

    &[data-level="low"] {
        background-color: #ffccc7;
        color: #f5222d;
    }

    &[data-level="mid"] {
        background-color: #ffffb8;
        color: #ad8b00;
    }

    &[data-level="high"] {
        background-color: #d9f7be;
        color: #52c41a;
    }
}

.list {
    display: flex;
    align-items: center;
    gap: 4px;
}
