.box {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--background-color-primary-4);

    & .list {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: 100%;

        & .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            & .title {
                color: var(--color-primary-2);
                font-size: 12px;
            }

            & .value {
                color: var(--color-primary-1);
                font-size: 12px;
            }
        }
    }
}
