@import "../../scss/variables.scss";

.button {
    cursor: pointer;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: var(--background-color-primary-2);

    & > * {
        color: $gray-1;
        font-size: 14px;
    }

    &[data-block="true"] {
        padding: 12px 16px;
        width: 100%;
    }

    &[data-size="small"] {
        padding: 4px 6px;
        border-radius: 8px;
        font-size: 12px;
    }

    &[data-type="secondary"] {
        background-color: var(--background-color-primary-1);
        border: 1px solid var(--background-color-primary-4);

        & * {
            color: var(--color-primary-4);
        }
    }

    &[data-type="primary"] {
        background-color: var(--background-color-primary-1);
        border: 1px solid var(--background-color-primary-4);

        & * {
            color: var(--color-primary-4);
        }
    }

    &:disabled {
        cursor: no-drop;
        background-color: var(--background-color-primary-3);

        & * {
            color: var(--color-primary-7);
        }
    }
}
