@import "../../scss/variables.scss";

.button {
    cursor: pointer;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: $gray-10;

    & > * {
        color: $gray-1;
        font-size: 14px;
    }
}
