@import "../styles/variables.scss";

.input {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
}

// size

.input {
    &[data-size="small"] {
        font-size: 12px;
        padding: 6px 10px;
    }

    &[data-size="medium"] {
        font-size: 14px;
        padding: 8px 12px;
    }

    &[data-size="large"] {
        font-size: 16px;
        padding: 10px 14px;
    }
}

// color

.input {
    &.gray {
        background-color: $gray-1;
        color: $gray-7;
        border-color: $gray-3 !important;

        &::placeholder {
            color: $gray-4;
        }

        &:focus {
            border: 1.8px solid $gray-3 !important;
            outline: none;
        }

        &:active {
            border: 1.8px solid $gray-3 !important;
            outline: none;
        }
    }

    &.blue {
        background-color: $blue-1;
        color: $blue-7;
        border-color: $blue-3 !important;

        &::placeholder {
            color: $blue-3;
        }

        &:focus {
            border: 1.8px solid $blue-3 !important;
            outline: none;
        }

        &:active {
            border: 1.8px solid $blue-3 !important;
            outline: none;
        }
    }
    &.green {
        background-color: $green-1;
        color: $green-7;
        border-color: $green-3 !important;

        &::placeholder {
            color: $green-3;
        }

        &:focus {
            border: 1.8px solid $green-3 !important;
            outline: none;
        }

        &:active {
            border: 1.8px solid $green-3 !important;
            outline: none;
        }
    }
    &.red {
        background-color: $red-1;
        color: $red-7;
        border-color: $red-3 !important;

        &::placeholder {
            color: $red-3;
        }

        &:focus {
            border: 1.8px solid $red-3 !important;
            outline: none;
        }

        &:active {
            border: 1.8px solid $red-3 !important;
            outline: none;
        }
    }
    &.yellow {
        background-color: $yellow-1;
        color: $yellow-7;
        border-color: $yellow-3 !important;

        &::placeholder {
            color: $yellow-3;
        }

        &:focus {
            border: 1.8px solid $yellow-3 !important;
            outline: none;
        }

        &:active {
            border: 1.8px solid $yellow-3 !important;
            outline: none;
        }
    }
}

// border

.input {
    &[data-border="solid"] {
        border: 1.5px solid;
    }

    &[data-border="none"] {
        border: none;
    }
}

// block
.input {
    &[data-block="true"] {
        display: flex;
        width: 100%;
        max-width: 100%;
    }

    &[data-block="false"] {
        display: inline-flex;
        width: fit-content;
        min-width: 280px;
    }
}

// disabled

.input {
    &:disabled {
        opacity: 0.4;
        cursor: no-drop;
    }
}
