.container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 460px;
    max-width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.wrapper {
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 8px;
    border-radius: 8px;
    background-color: #e4e4e4;
    color: #434343;
    font-weight: 700;
}
