@import "../../scss/variables.scss";

.info {
    background-color: var(--background-color-primary-2);
    border: 1px solid var(--background-color-primary-3);
    display: flex;
    gap: 12px;
    border-radius: 8px;
    padding: 12px;

    & .left {
        background-color: var(--background-color-primary-3);
        width: 8px;
        border-radius: 8px;
    }
    & .icon {
    }
    & .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    & .header {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        justify-content: space-between;

        &__left {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: left;
        }

        &__right {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 4px;
        }
    }

    & .title {
        font-size: 14px;
        font-weight: 500;
        color: var(--color-primary-5);
        display: flex;
        align-items: center;
        gap: 4px;
    }
    & .body {
        width: 100%;
        background-color: var(--background-color-primary-2);
        color: var(--color-primary-7);
        padding: 8px;
        border-radius: 8px;
        position: relative;
    }
    & .description {
        font-size: 12px;
    }
    & .footer {
    }
    & .progress {
        position: relative;
        background-color: var(--background-color-primary-3);
        width: 100%;
        height: 6px;
        border-radius: 6px;
    }

    & .placeholder {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 8px;
        border-radius: 8px;
        background-color: $green-5;
    }
}
