.list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-radius: 4px;
}

.groop {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    background-color: #f0f5ff;
    border-radius: 8px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    background-color: #f0f5ff;
    border-radius: 8px;
}
