@import "../../scss/variables.scss";

.textarea {
    width: 100%;
    min-height: 180px;
    resize: none;
    display: flex;
    padding: 12px 16px;
    border: 2px solid var(--background-color-primary-3);
    border-radius: 8px;
    color: var(--color-primary-1);
    background-color: var(--background-color-primary-2);

    &::placeholder {
        color: var(--color-primary-7);
    }

    &:focus {
        border: 2px solid $blue-6;
        background-color: var(--background-color-primary-1);
    }
}
