.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

// type

.list {
    &[data-type="block"] {
        padding: 12px;
        background-color: var(--palette-1);
        border-radius: 8px;
    }
}
