.list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &[data-gap="12"] {
        gap: 12px;
    }

    &[data-gap="14"] {
        gap: 14px;
    }

    &[data-gap="16"] {
        gap: 16px;
    }

    &[data-gap="18"] {
        gap: 18px;
    }
}
