.input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 12px;
    background: var(--palette-1);
    color: var(--color-primary-1);
    border: none;
}
