.item {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #e6f7ff;
    border-radius: 8px;
    padding: 12px;
    height: 110px;
    min-height: 80px;
}

.left {
    width: 110px;
    height: 100%;
    background-color: #bae7ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 8px;
    background-color: #bae7ff;
    gap: 4px;
}

.value {
    font-weight: 500;
    color: #434343;
}

.min {
    color: #8c8c8c;
    font-weight: 900;
}

.right {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header {
    color: #bfbfbf;
}

.body {
    color: #8c8c8c;
    font-weight: 700;
}
