.item {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #bae7ff;
    border-radius: 8px;
    padding: 12px;
    height: 100px;
    min-height: 80px;
}

.left {
    width: 100px;
    height: 100%;
    background-color: #91d5ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 8px;
    background-color: #91d5ff;
    gap: 4px;
}

.value {
    color: black;
}

.min {
    color: #8c8c8c;
    font-weight: 900;
}

.right {
    width: 80%;
}
