.setting {
    display: flex;
    flex-direction: column;
    & .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        padding: 12px;
        background-color: var(--palette-1);
        & .left {
            display: flex;
            flex-direction: column;
            gap: 4px;

            & .title {
                color: var(--color-primary-1);
            }

            & .description {
                color: var(--color-primary-2);
                font-size: 12px;
            }
        }

        & .right {
        }
    }
}

.setting {
    &[data-type="item"] {
        border-radius: 8px;
    }
    &[data-type="groop"] {
        & .item {
            border-radius: 0px;
        }

        & .item:first-child {
            border-radius: 8px 8px 0px 0px;
        }

        & .item:last-child {
            border-radius: 0px 0px 8px 8px;
        }
    }
}
