.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #bae7ff;
    padding: 8px;
    border-radius: 4px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40%);
    font-weight: 700;
    color: #1890ff;
}
