@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Nunito Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:active,
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

body {
    background-color: var(--background-color-primary-default);
    color: var(--color-primary-1);
}

a {
    color: var(--color-primary-1);

    &:active,
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

.app {
    height: 100%;
    min-height: 100vh;
    background-color: var(--background-color-primary-default);
    color: var(--color-primary-1);

    & .container {
        width: 480px;
        max-width: 100%;
        margin: 0px auto;
    }
    & .wrapper {
        padding: 0px 16px;
        padding-top: calc(52px + 24px);
        padding-bottom: 24px;
    }

    &[data-positon="fixed"] {
        overflow-y: hidden;
    }

    &[data-postion="scroll"] {
        overflow-y: auto;
    }
}
