@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:active,
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

body {
    background-color: var(--background-color-primary-1);
    color: var(--color-primary-1);
}

a {
    color: var(--color-primary-1);

    &:active,
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

.app {
    height: 100vh;
    background-color: var(--background-color-primary-0);
    color: var(--color-primary-0);

    & .container {
        width: 480px;
        max-width: 100%;
        margin: 0px auto;
    }
    & .wrapper {
        padding: 0px 16px;
        padding-top: calc(52px + 24px);
    }

    &[data-fixed="true"] {
        overflow-y: hidden;
    }

    &[data-fixed="false"] {
        overflow-y: auto;
    }
}
