:root [data-theme="dark"] {
    // background
    --background-color-primary-1: #1e1e1e;
    --background-color-primary-2: #2a2a2a;
    --background-color-primary-3: #363636;
    --background-color-primary-4: #414141;
    --background-color-primary-5: #4d4d4d;
    --background-color-primary-6: #595959;
    --background-color-primary-7: #656565;
    --background-color-primary-8: #717171;
    --background-color-primary-9: #7d7d7d;
    --background-color-primary-10: #898989;

    --color-primary-1: #ffffff;
    --color-primary-2: #f3f3f3;
    --color-primary-3: #e7e7e7;
    --color-primary-4: #dbdbdb;
    --color-primary-5: #d0d0d0;
    --color-primary-6: #c4c4c4;
    --color-primary-7: #b8b8b8;
    --color-primary-8: #acacac;
    --color-primary-9: #a0a0a0;
    --color-primary-10: #949494;

    --purple: #6b53fd;
    --purple20: rgba(107, 83, 253, 0.2);

    --green: #3fb950;
    --green20: rgba(63, 185, 80, 0.2);

    --red: #f85149;
    --red20: rgba(248, 81, 73, 0.2);

    --yellow: #fbca04;
    --yellow20: rgba(251, 202, 4, 0.2);
}

:root [data-theme="light"] {
    // background
    --background-color-primary-1: #ffffff;
    --background-color-primary-2: #f3f3f3;
    --background-color-primary-3: #e7e7e7;
    --background-color-primary-4: #dbdbdb;
    --background-color-primary-5: #d0d0d0;
    --background-color-primary-6: #c4c4c4;
    --background-color-primary-7: #b8b8b8;
    --background-color-primary-8: #acacac;
    --background-color-primary-9: #a0a0a0;
    --background-color-primary-10: #949494;

    --color-primary-1: #1e1e1e;
    --color-primary-2: #2a2a2a;
    --color-primary-3: #363636;
    --color-primary-4: #414141;
    --color-primary-5: #4d4d4d;
    --color-primary-6: #595959;
    --color-primary-7: #656565;
    --color-primary-8: #717171;
    --color-primary-9: #7d7d7d;
    --color-primary-10: #898989;

    --purple: #6b53fd;
    --purple20: rgba(107, 83, 253, 0.2);

    --green: #3fb950;
    --green20: rgba(63, 185, 80, 0.2);

    --red: #f85149;
    --red20: rgba(248, 81, 73, 0.2);

    --yellow: #fbca04;
    --yellow20: rgba(251, 202, 4, 0.2);
}
