.item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #f0f5ff;
    padding: 12px;
    border-radius: 4px;
}

.title {
    font-size: 16px;
    font-weight: 700;
    color: #bfbfbf;
}
