.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px;
    background-color: var(--background-color-primary-2);
    border-radius: 8px;
    & .left {
        display: flex;
        align-items: center;
        gap: 8px;

        & .data {
            display: flex;
            flex-direction: column;
            gap: 4px;

            & .name {
                color: var(--color-primary-1);
            }

            & .login {
                color: var(--color-primary-6);
            }
        }
    }
}
