.navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 52px;
    z-index: 1;
    height: 100vh;

    & .container {
        width: 480px;
        max-width: 100%;
        margin: 0px auto;
    }

    & .wrapper {
        width: 100%;
        display: flex;
        padding: 24px 16px;
        height: 100vh;
        background-color: var(--background-color-primary-1);

        & .item {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 8px;
            border-radius: 8px;

            & .text {
                display: flex;
                flex-direction: column;
                gap: 2px;

                & .title {
                    color: var(--color-primary-1);
                }

                & .description {
                    font-size: 12px;
                    color: var(--color-primary-2);
                }
            }
        }
    }
}

.navigation {
    &[data-visible="true"] {
        display: block;
    }
    &[data-visible="false"] {
        display: none;
    }
}
