@import "../../scss/variables.scss";

.drawer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(38, 38, 38, 0.7);
    z-index: 9999;
    & .container {
        width: 480px;
        max-width: 100%;
        margin: 0px auto;
    }
    & .wrapper {
        z-index: 10000;
        border-radius: 8px;
        overflow-y: scroll;
        padding: 12px 16px;
        height: 100vh;
        background-color: $gray-1;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 20%;
        padding-bottom: calc(20% + 12px);
        scrollbar-width: none; /*mozilla*/

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &[data-visible="false"] {
        display: none;
    }

    &[data-visible="true"] {
        display: block;
    }
}
