@import "../../scss/variables.scss";

.header {
    & .wrapper {
        background-color: $gray-4;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 12px;
    }
}
