.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

    & .container {
        width: 480px;
        max-width: 100%;
        margin: 0px auto;
    }

    & .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--background-color-primary-5);
        padding: 0px 16px;
        height: 52px;
    }
}
