.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--palette-1);

    & .item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .left {
            display: flex;
            flex-direction: column;
            gap: 4px;

            & .key {
                color: var(--color-primary-1);
            }

            & .value {
                font-size: 12px;
                color: var(--color-primary-2);
            }
        }
    }
}
