@import "../../scss/variables.scss";

.property {
    background-color: var(--background-color-primary-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 8px;

    & .name {
        cursor: pointer;
        color: var(--color-primary-6);
        width: fit-content;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 8px 12px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
    }

    & .value {
        cursor: pointer;
        color: var(--color-primary-6);
        border: 1px solid var(--background-color-primary-4);
        background-color: var(--background-color-primary-3);
        width: fit-content;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 8px 12px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 500;
    }
}
