@import "../../scss/variables.scss";

.affix {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 480px;
    background-color: var(--background-color-primary-2);
    max-width: 100%;
    margin: 0px auto;
    height: 74px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .button {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gray-10;
        border-radius: 8px;
        padding: 12px 8px;
        color: $gray-1;
    }
}
