@import "../../scss/variables.scss";

.status {
    cursor: pointer;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: $gray-1;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid $gray-6;
    & .elipse {
        width: 10px;
        height: 10px;
        background-color: $gray-6;
        border-radius: 50%;
    }

    & > * {
        font-size: 12px;
    }

    &[data-status="Запланировано"] {
        background-color: $yellow-2;
        border: 1px solid $yellow-6;
        & .elipse {
            background-color: $yellow-6;
        }
        & .text {
            color: $yellow-7;
            font-weight: 500;
        }
    }

    &[data-status="В работе"] {
        background-color: $red-2;
        border: 1px solid $red-6;
        & .elipse {
            background-color: $red-6;
        }
        & .text {
            color: $red-7;
            font-weight: 500;
        }
    }

    &[data-status="Завершено"] {
        background-color: $green-2;
        border: 1px solid $green-6;
        & .elipse {
            background-color: $green-6;
        }
        & .text {
            color: $green-7;
            font-weight: 500;
        }
    }
}
