.execution {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
    background-color: var(--background-color-primary-5);
    border-radius: 8px;

    & .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        & .left {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    & .body {
        font-size: 12px;
        color: var(--color-primary-2);
    }
}

.execution {
    & .body {
        &[data-visible="true"] {
            display: flex;
        }

        &[data-visible="false"] {
            display: none;
        }
    }
}
