* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body{
  background-color: #f0f0f0 !important;
}

.container{
  width: 480px;
  min-width: 360px;
  max-width: 100%;
  margin: 0px auto;
}

.wrapper{
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}