@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;

    &:active,
    &:hover,
    &:focus {
        outline: none;
    }
}

body {
    background-color: $gray-1;
    min-height: 100vh;
}

.app {
    &__container {
        width: 480px;
        max-width: 100%;
        margin: 0px auto;
    }
    &__wrapper {
        padding: 0px 16px;
    }
}
