@import "./variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

body {
    background-color: var(--background-color-primary-1);
    color: var(--color-primary-1);
}

a {
    &:active,
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

.app {
    height: 100vh;
    background-color: var(--background-color-primary-1);
    color: var(--color-primary-1);

    &__container {
        width: 480px;
        max-width: 100%;
        margin: 0px auto;
    }
    &__wrapper {
        padding: 0px 16px;
        padding-bottom: 74px;
        padding-top: 68px;
    }
}
