// color
$gray-1: #ffffff;
$gray-2: #fafafa;
$gray-3: #f5f5f5;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
// color

$green-1: #f6ffed;
$green-2: #d9f7be;
$green-3: #b7eb8f;
$green-4: #95de64;
$green-5: #73d13d;
$green-6: #52c41a;
$green-7: #389e0d;
$green-8: #237804;
$green-9: #237804;
$green-10: #092b00;

$blue-1: #e6f7ff;
$blue-2: #bae7ff;
$blue-3: #91d5ff;
$blue-4: #69c0ff;
$blue-5: #40a9ff;
$blue-6: #1890ff;
$blue-7: #096dd9;
$blue-8: #0050b3;
$blue-9: #003a8c;
$blue-10: #002766;

$yellow-1: #feffe6;
$yellow-2: #ffffb8;
$yellow-3: #fffb8f;
$yellow-4: #fff566;
$yellow-5: #ffec3d;
$yellow-6: #fadb14;
$yellow-7: #d4b106;
$yellow-8: #ad8b00;
$yellow-9: #876800;
$yellow-10: #614700;

$red-1: #fff1f0;
$red-2: #ffccc7;
$red-3: #ffa39e;
$red-4: #ff7875;
$red-5: #ff4d4f;
$red-6: #f5222d;
$red-7: #cf1322;
$red-8: #a8071a;
$red-9: #820014;
$red-10: #5c0011;

:root [data-theme="dark"] {
    // background
    --background-color-primary-1: #262626;
    --background-color-primary-2: #434343;
    --background-color-primary-3: #595959;
    --background-color-primary-4: #8c8c8c;
    --background-color-primary-5: #bfbfbf;
    --background-color-primary-6: #d9d9d9;
    --background-color-primary-7: #f0f0f0;
    --background-color-primary-8: #f5f5f5;
    --background-color-primary-9: #fafafa;
    --background-color-primary-10: #ffffff;
    // background

    // background
    --color-primary-1: #ffffff;
    --color-primary-2: #fafafa;
    --color-primary-3: #f5f5f5;
    --color-primary-4: #f0f0f0;
    --color-primary-5: #d9d9d9;
    --color-primary-6: #bfbfbf;
    --color-primary-7: #8c8c8c;
    --color-primary-8: #595959;
    --color-primary-9: #434343;
    --color-primary-10: #262626;
    // background
}

:root [data-theme="light"] {
    // background
    --background-color-primary-10: #262626;
    --background-color-primary-9: #434343;
    --background-color-primary-8: #595959;
    --background-color-primary-7: #8c8c8c;
    --background-color-primary-6: #bfbfbf;
    --background-color-primary-5: #d9d9d9;
    --background-color-primary-4: #f0f0f0;
    --background-color-primary-3: #f5f5f5;
    --background-color-primary-2: #fafafa;
    --background-color-primary-1: #ffffff;
    // background

    // background
    --color-primary-10: #ffffff;
    --color-primary-9: #fafafa;
    --color-primary-8: #f5f5f5;
    --color-primary-7: #f0f0f0;
    --color-primary-6: #d9d9d9;
    --color-primary-5: #bfbfbf;
    --color-primary-4: #8c8c8c;
    --color-primary-3: #595959;
    --color-primary-2: #434343;
    --color-primary-1: #262626;
    // background
}
