.item {
    background-color: #d6e4ff;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    height: 90px;
    max-height: 100%;

    &[data-completed="true"] {
        background-color: #d9f7be;
    }
}

.left {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.right {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    border-radius: 8px;
    height: 100%;
    background-color: #adc6ff;

    & span {
        font-size: 10px;
        font-weight: 700;
        transform: rotate(-90deg);
        color: #2f54eb;
    }
}

[data-completed="true"] .right {
    background-color: #95de64;
    & span {
        color: #389e0d;
    }
}

.title {
    font-size: 14px;
    font-weight: 700;
    color: #2f54eb;
}

[data-completed="true"] .title {
    color: #52c41a;
}

.body {
    display: flex;
    align-items: center;
    gap: 4px;
}
